@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1em;
    box-sizing: border-box;
}

body{
    font-family: "Epilogue";
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    min-height: 100vh;
    min-width: 1340px;
    background-color: hsl(0, 0%, 98%);
}

/* ======================== Star Main Area ================ */
.site{
    padding: 2.4rem 1.4rem;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 100px;
    height: 50px;
}

.drop-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul{
    display: flex;
    flex-direction: row;
}

.nav-li{
    list-style: none;
    padding-left: 50px;
}

.drop{
    margin-top: 30px;
    margin-left: -125px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.200);
    gap: 15px;
    z-index: 1;
    position: absolute;
    width: 140px;
    justify-content: space-between;
    display: none;    
}

.comp{
    width: 100px;
}    

.up, .down{
    width: 20px;
    margin-left: 10px;

}

.nav-btn{
   margin-left: 750px;
}

.toggle{
    display: none;
}

.up{
    display: none;
}

a{
    color: hsl(0, 0%, 41%);
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
}

.btn1{
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 41%);
    background-color: hsl(0, 0%, 98%);
    border-radius: 15px;
    font-size: 1.2rem;
    color: hsl(0, 0%, 41%);
}

.btn:hover{
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.btn1:hover{
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
    font-weight: 700;
}

/* ======================== End Section Area ================ */
/* ======================== Start Section Area ================ */

.main{
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
}

.img{
    width: 100%
}

.main-img{
    width: 100%;
}

.info{
    padding: 120px;
}

.info-h1{
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 0%, 8%);
}

.info-para{
    color: hsl(0, 0%, 41%);
    padding: 50px 10px;
    font-size: 1.5rem;
    line-height: 20px;
}

.info-btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 98%);
    font-size: 1.5rem;
    border-radius: 15px;
}

.info-btn:hover{
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border: 2px solid hsl(0, 0%, 8%);
}

.client{
    margin-top: 90px;
}

.client-img{
    padding: 10px;
}

/* ======================== End Main Area ================ */

/* ======================== START Footer Area ================ */

.foot {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: hsl(35, 77%, 62%);
    justify-content: center;
    background-color: black;
    padding: 5px;
    margin-top: 70px;
  }
  
.foot a {
    color: hsl(5, 85%, 63%);
    text-decoration: none;
}

.foot a:hover{
    color: darkturquoise;
}
  
  
  /* ======================== End Footer Area ================ */
  
  /* ======================== Start Media Querry Area ================ */

@media screen and (max-width: 1400px) {
    .nav-btn{
        margin-left: 400px;
    }
}  


@media screen and (max-width: 375px) {
    body{
        min-width: 375px;
    }

    .navbar{
        justify-content: space-between;
    }

    .drop-down{
        flex-direction: column;   
        display: none;
        /* top: 15%; */
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 98%);
        padding: 20px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.205);
    }

    .close{
        position: fixed;
        margin-left: -15px;
        margin-top: 10px;
    }

    .nav-ul{
        flex-direction: column;
    }

    .drop{
        margin-top: 30px;
    }

    .nav-li{
        margin-top: 50px;
    }

    .nav-btn{
        margin-left: 100px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    .toggle{
        display: block;
    }

    .close{
        display: none;
    }

    .btn1{
        margin-top: 20px;
    }

    .main{
        flex-direction: column;
        padding: 20px;
        margin-top: 20px;
    }

    .info{
        padding: 20px;
        margin-top: 20px;
    }

    .main-img{
        content: url(./images/image-hero-mobile.png);
    }

    @keyframes slide-in {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(0);
        }
    }

    
    @keyframes slide-out {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(100%);
        }
    }
}  

  /* ======================== End Media Querry Area ================ */